*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #f3f3f3;
}
/* navbar */
.navbar-list{
    background:#330000;
}
.dropdown:hover > .dropdown-menu {
    display: block;
    margin-top: 0;
}


.dropdown-submenu {
    position: relative;
}
.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
    display: none;
}
.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

.navbar-top{
    display: flex;
    height: 6rem;
    width: 90vw;
    /* background: pink; */
    align-items: center;
}
.nav-logo>h3{
    color: #e07816;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.nav-con{
    margin-left: 39rem;
}
.nav-con>span>a{
    text-decoration: none;
    color:black;
    font-weight: 500;

}
.nav-item>a{
    color: white;
}
.nav-item>a:active{
    color: rgb(114, 38, 38);
}
.nav-item>a:hover{
    background: red;
    color: white;

}
.nav-second{
    background: red;
}

.toggle-mob{
    display: none;
   
}
/* carsol */

.carousel-item>img{
    height: 35rem;
    object-fit: fill;
}
/* about */

.about>h3{
   color: #333333;
   font-weight: 500;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.about>p{
    margin-top: 30px;
    color: #333333;
    font-weight: 400;
    text-align: justify;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }

.card-hover{
    height: 280px;
}
.card-hover>img{
    /* border: 1px solid rgb(170, 170, 170); */
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.card-hover .overlay {
  position: absolute;
  top: 0; left: 13px;
  width: 90%; height: 100%;
  background: rgba(255, 255, 255, 0.6);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.card-hover:hover .overlay {
  opacity: 1;
}
.socil-main1{
    background: #333333;
    overflow: hidden;
}
.social-icon {
    width: 60px;
    height: 60px;
    background: #ffffff; /* Light background for icon */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto; /* Center horizontally */
  }
 
  .social-icon i {
    font-size: 24px;
    color: #302f2f;
  }
  .social-name{
    margin-top: 5px;
  }
  .social-main {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
  }
  .social-name>h5,p,a{
      color: white;
      text-decoration: none;
  }
.footer{
    background: #300;
}






















































@media (max-width: 768px) {
    .navbar-top{
       display: none;
    }
    .carousel-item>img{
        height: 20rem;
        object-fit: cover;
    }
    .toggle-mob{
        display: flex;
       
    }
    /* mobile scree */
    .serch-mob{
        display: none;
    }
    .toggle-mob button {
        margin-right: 10px; /* 5px ka gap */
      }
  }